<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
    <title>Lave já - Carrinho</title>
</head>
<body>
    <header>
        <div class="header">
            <div class="logo">
                <img src="{{ url_for('static', filename='imagem/lave.ja.png') }}" alt="Logo Lave Já" width="60" style="border-radius: 5px;">
            </div>
            <div>
                <a href="{{ url_for('catalogo')}}" class="btn-voltar">VOLTAR AO CATÁLOGO</a>
            </div>
        </div>
    </header>

    <main>
        <section id="carrinho" class="servicos1">
            <div class="box-carrinho">
                <div>
                    <h2>Seu Carrinho</h2>
                    <div id="cartArea">
                        <p id="cartEmpty" class="cart-empty" style="display: none;">Seu carrinho está vazio.</p>
                        <ul id="cartItems" class="cart-items"></ul>
                        <div class="cart-item-total" id="cartTotal"></div>
                        <div class="cart-actions" id="cartActions">
                            <button id="clearCart" class="btn-clear">Limpar carrinho</button>
                            <button id="checkout" class="btn-checkout">Finalizar pedido</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer class="footer-bottom">
        <div id="footer-bottom">
            <p>© 2025 LaveJá - Lavanderia Profissional. Todos os direitos reservados.</p>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='script.js')}}"></script>
</body>
</html>