<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Lave já - Catálogo</title>
</head>
<body>
    <header>
        <div class="header">
            <div class="logo">
                <img src="../static/imagem/lave.ja.png">
            </div>
            <div>
                <button class="botao-login" onclick="index.html">VOLTAR</button>
            </div>
        </div>
    </header>
    <main>
        <section class="servicos1">
            <div class="main-title">
                <h1>Nossos Planos</h1>
            </div>
            <div class="servicos">
                <div class="servico">
                   <h3>Lavar e Secar</h3>
                   <img src="/static/imagem/catalogo1.jpg" alt="Lavagem de roupas">
                   <p>Lavagem completa com secagem rapida, para roupas do dia a dia</p>
                   <p class="preco">R$ 28,00</p>
                   <a href="#carrinho" class="botao" onclick="lavejaAddToCart(1, 'Lavagem Simples', 15.00)">Solicitar</a>
                </div>
                <div class="servico">
                   <h3>Lavar a Seco</h3>
                   <img src="/static/imagem/catalogo2.jpg" alt="Lavagem de roupas">
                   <p>Ideal para roupas que precisam de um cuidado especial sem água</p>
                   <p class="preco">R$ 44,00</p>
                   <a href="#carrinho" class="botao" onclick="lavejaAddToCart(1, 'Lavagem Simples', 15.00)">Solicitar</a> 
                </div>
                <div class="servico">
                   <h3>Roupas Delicadas</h3>
                   <img src="/static/imagem/catalogo3.jpg" alt="Lavagem de roupas">
                   <p>Serviço especializado para roupas finas e delicadas</p>
                   <p class="preco">R$ 50,00</p>
                   <a href="#carrinho" class="botao" onclick="lavejaAddToCart(1, 'Lavagem Simples', 15.00)">Solicitar</a> 
                </div>
            </div>
                <div class="quilo">
                    <h1>Lavagem por Quilo</h1>
                </div>
            <div class="servicos">
                <div class="servico">
                   <h3>15 kg</h3>
                   <img src="/static/imagem/catalogo4.jpg" alt="Lavagem de roupas">
                   <p>Lavagem até 10kg</p>
                   <p class="preco">R$ 65,00</p>
                   <a href="#carrinho" class="botao" onclick="lavejaAddToCart(1, 'Lavagem Simples', 15.00)">Solicitar</a> 
                </div>
                <div class="servico">
                   <h3>25kg</h3>
                   <img src="/static/imagem/catalogo5.jpg" alt="Lavagem de roupas">
                   <p>Lavagem até 20kg</p>
                   <p class="preco">R$ 129,00</p>
                   <a href="#carrinho" class="botao" onclick="lavejaAddToCart(1, 'Lavagem Simples', 15.00)">Solicitar</a> 
                </div>
                <div class="servico">
                   <h3>30kg</h3>
                   <img src="/static/imagem/catalogo6.jpg" alt="Lavagem de roupas">
                   <p>Lavagem até 30kg</p>
                   <p class="preco">R$ 195,00</p>
                   <a href="#carrinho" class="botao" onclick="lavejaAddToCart(1, 'Lavagem Simples', 15.00)">Solicitar</a> 
                </div>
            </div>
        </section>         
    </main>
    <footer class="footer-bottom">
        <div id="footer-bottom">
            <p>© 2025 LaveJá - Lavanderia Profissional. Todos os direitos reservados.</p>
            <p>Desenvolvido com ❤️ para cuidar das suas roupas</p>
        </div>
        <div class="footer-completo"></div>
    </footer>
</body>
</html>